<!doctype html>
<html>
<head>
    <title>Dropping Jewels 👑  💎</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="welcome.css">
    <link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    

</div>


<div id="topbar"><b>&nbsp;Dropping Jewels</b>&nbsp;&nbsp;BY ENAISHA SAVAGE</div>
<div id="terminal">
  <div id="header">Welcome</div>
  <div id="window">With our app, students can submit questions they have for their homework assignment. Their question will be posted
    on a feed where the mentors can come in and provide feedback and links to solutions. Our goal is to promote a collaborative, healthy
    relationship between educators and students. Oftentimes, students get shy about what they don't know, or they feel intimidated to ask, or
    they simply do not have the resources for tutors or mentors. We're here to change that and bridge the relationship to provide extra engagement 
    and enrichment for students who are struggling.<cursor1>_</cursor1><br><br>
    <div id="buttons"><a href="/signup" class="btn btn-default"><button class="fa fa-user"></button>Signup</a>
        <a href="/login" class="btn btn-default"><button class="fa fa-user"></button>Student Login</a></a></li>
        <a href="/mentorlogin" class="btn btn-default"><button class="fa fa-user"></button>MentorLogin</a></a></li>  
        <a href="/mentorsignup" class="btn btn-default"><button class="fa fa-user"></button>mentorsignup</a></a></li>  

    
 </div>
  </div>
 
</div>


</body>
</html>










<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dropping Jewels</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <nav>
    <ul>                                              
    <li><a href="#"><span style="color:rgb(234,88,248)">D</span>
    <span style="color:rgb(234,88,248)">R</span>
    <span style="color:rgb(234,88,248)">O</span>
    <span style="color:rgb(234,88,248)">P</span>
    <span style="color:rgb(234,88,248)">P</span>
    <span style="color:rgb(234,88,248)">I</span>
     <span style="color:rgb(234,88,248)">N</span>
     <span style="color:rgb(234,88,248)">G</span>

     <span style="color: rgb(93,180,246)">J</span>
     <span style="color:rgb(93,180,246)">E</span>
     <span style="color:rgb(93,180,246)">W</span>
     <span style="color:rgb(93,180,246)"></span>
     <span style="color:rgb(93,180,246)">L</span>
     <span style="color:rgb(93,180,246)">S</span>
      <li><a href="#"><span> Drop a Jewel for the next generation to pick up</span>
      <a href="/signup" class="btn btn-default"><button class="fa fa-user"></button>Signup</a>
     <a href="/login" class="btn btn-default"><button class="fa fa-user"></button>Login</a></a></li>    
      </ul>
    </nav>
  
</body>
</html>

