.navbar-global {
  background-color: pink;
}

.navbar-global .navbar-brand {
  /* color: white; */
}

.navbar-global .navbar-user > li > a
{
  /* color: white; */
}

.navbar-primary {
  background-color: #333;
  bottom: 0px;
  left: 0px;
  position: absolute;
  top: 51px;
  width: 200px;
  z-index: 8;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.navbar-primary.collapsed {
  width: 60px;
}

.navbar-primary.collapsed .glyphicon {
  font-size: 22px;
}

.navbar-primary.collapsed .nav-label {
  display: none;
}

.btn-expand-collapse {
    position: absolute;
    display: block;
    left: 0px;
    bottom:0;
    width: 100%;
    padding: 8px 0;
    border-top:solid 1px #666;
    color: grey;
    font-size: 20px;
    text-align: center;
}

.btn-expand-collapse:hover,
.btn-expand-collapse:focus {
    background-color: #222;
    color: white;
}

.btn-expand-collapse:active {
    background-color: #111;
}

.navbar-primary-menu,
.navbar-primary-menu li {
  margin:0; padding:0;
  list-style: none;
}

.navbar-primary-menu li a {
  display: block;
  padding: 10px 18px;
  text-align: left;
  border-bottom:solid 1px #444;
  color: #ccc;
}

.navbar-primary-menu li a:hover {
  background-color: #000;
  text-decoration: none;
  color: white;
}

.navbar-primary-menu li a .glyphicon {
  margin-right: 6px;
}

.navbar-primary-menu li a:hover .glyphicon {
  color: orchid;
}

.main-content {
  margin-top: 60px;
  margin-left: 200px;
  padding: 20px;
}

.collapsed + .main-content {
  margin-left: 60px;
}
p{
  font-family: 'Merriweather', serif;
  font-weight: bold;
}


/* body {
  margin:0;
  font-family: 'Inconsolata', monospace;
  background-color: purple;
  align-items: center;
}

  #terminal:before {
  position:absolute;
  top:6px;
  left:6px;
  width:16px;
  height:16px;
  background:linear-gradient(135deg, #b1b1b1, #d7d7d7);
  border:1px solid #222;
  box-shadow:inset 1px 1px #fff,
    1px 1px #fff;
  content:'';
}  

 #terminal:after {
  position:absolute;
  top:6px;
  left:476px;
  width:16px;
  height:16px;
  background:linear-gradient(135deg, #b1b1b1, #d7d7d7);
  border:1px solid #222;
  box-shadow:inset 1px 1px #fff,
    1px 1px #fff;
  content:'';
} 

 #window {
  position:absolute;
  padding:10px 20px;
  top:30px;
  left:10px;
  width:450px;
  height:380px;
  background:#464646;
  box-shadow:-1px -1px #b4b4b5,
    1px 1px #fff;
  font-size:15px;
  color:white;
  content:'';
  text-shadow:none;
} 

 #header {
  color:#222;
  text-align:center;
  line-height:28px;
  font-size:20px;
}

#header:before {
  position:absolute;
  top:6px;
  left:30px;
  width:175px;
  height:1px;
  background:#ebebeb;
  box-shadow:0 1px #b7b7b8,
    0 4px #ebebeb, 0 5px #b7b7b8,
    0 8px #ebebeb, 0 9px #b7b7b8,
    0 12px #ebebeb, 0 13px #b7b7b8,
    0 16px #ebebeb, 0 17px #b7b7b8,
    265px 0px #ebebeb, 265px 1px #b7b7b8,
    265px 4px #ebebeb, 265px 5px #b7b7b8,
    265px 8px #ebebeb, 265px 9px #b7b7b8,
    265px 12px #ebebeb, 265px 13px #b7b7b8,
    265px 16px #ebebeb, 265px 17px #b7b7b8;
  content:'';
}

#topbar {
  position:relative;
  width:100vw;
  height:30px;
  background:#d7d7d7;
  border:1px solid #222;
  border-width: 1px 0 1px 0;
  color:#222;
  text-shadow:0 1px #ededed;
  font-size:20px;
  line-height:28px;
  box-shadow:inset 0 1px #ededed;
} 
 
#topbar:before {
  float:right;
  margin-right:15px;
  content:'13:37';
}

#hackerName, #clear {
  opacity:0;
}

cursor1, cursor2 {
  animation-duration: 1s;
  animation-name: blink;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {opacity:1;}
  49% {opacity:1;}
  50% {opacity:0;}
  100% {opacity:0;}
}

#buttons{
  width:90%;
  margin:auto;
  text-align: center;
}

#buttons a{
  margin-right:10px;
  font-size:20px;
  background-color:black;
  color:white;
  padding:5px;
}    */
